In [92]:
my_details = {'name':'Praveen','id':123,'Country':'India','State':'KA'}

### Access values

In [93]:
my_details['name']

'Praveen'

In [94]:
my_details['Country']

'India'

In [98]:
'Contact No' in my_details

True

In [99]:
'Address' in my_details

False

### Add more keys

In [95]:
my_details['Contact No'] = '9123456780'

In [96]:
my_details

{'name': 'Praveen',
 'id': 123,
 'Country': 'India',
 'State': 'KA',
 'Contact No': '9123456780'}

In [100]:
my_new_dict = {'City':'Bangalore','Pin code':'1234'}
my_details.update(my_new_dict)

In [101]:
my_details

{'name': 'Praveen',
 'id': 123,
 'Country': 'India',
 'State': 'KA',
 'Contact No': '9123456780',
 'City': 'Bangalore',
 'Pin code': '1234'}

### Delete keys

In [102]:
del my_details['Pin code']
my_details

{'name': 'Praveen',
 'id': 123,
 'Country': 'India',
 'State': 'KA',
 'Contact No': '9123456780',
 'City': 'Bangalore'}

### Iterate over Dict

In [103]:
for key in my_details:
    print(key,'- ',my_details[key])

name -  Praveen
id -  123
Country -  India
State -  KA
Contact No -  9123456780
City -  Bangalore

In [104]:
for key in my_details.keys():
    print(key)

name
id
Country
State
Contact No
City

In [105]:
for value in my_details.values():
    print(value)

Praveen
123
India
KA
9123456780
Bangalore

In [107]:
for key,value in my_details.items():
    print(key,'- ',value)

name -  Praveen
id -  123
Country -  India
State -  KA
Contact No -  9123456780
City -  Bangalore